.main {
  width: 600px;
  max-height: 696px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: end;
}
.list {
  padding: 0;
  margin: 0;
}
.container {
  overflow: auto;
}
.item {
  display: flex;
  align-items: center;
  column-gap: 8px;
  min-width: 600px;
  justify-content: flex-end;
}
.element {
  margin-left: 32px;
  min-width: 536px;
}
.headers {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 536px
}