.main {
  width: 600px;
  max-height: 696px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: end;
}
.list {
  padding: 0;
  margin: 0;
}
.container {
  overflow: auto;
}
.item {
  display: flex;
  align-items: center;
  column-gap: 8px;
  min-width: 600px;
  justify-content: flex-end;
}
.element {
  margin-left: 32px;
  min-width: 536px;
}
.headers {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 536px;
  padding: 16px 24px;
  border-radius: var(--common-border-radius-s);
  background: var(--background-element);
  width: 100%;
  min-height: 80px;
  font-family: 'Jet Brains Mono';
  font-size: 16px;
  line-height: 24px;
  color: #F2F2F3;
  flex-grow: 1;
  box-sizing: border-box;
}
.top {
  border-radius: var(--top-constructor-item-border-radius);
}
.bottom {
  border-radius: var(--bottom-constructor-item-border-radius);
}
