.main {
  width: 600px;
  height: 696px;
}
.list {
  padding: 0;
  margin: 0;
}
.container {
  overflow: auto;
  height: 500px;
}
.item {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.element {
  margin-left: 32px;
}