.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 40px;
  /* position: fixed;
  top: 0;
  left: 0;
  top: 328px;
  left: 50%;
  transform: translate(-50%, -50%); */
  z-index: 1;
  /* width: 860px; */
  margin-left: 320px;
  /* justify-content: space-between; */
  width: 1280px;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-end;
  margin-top: 80px;
}
.navigation {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-right: 60px;
  margin-top: 80px;
}
.navLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 80px;
  width: 320px;
}
.navLink {
  text-decoration: none;
  height: 64px;
  display: flex;
  align-items: center;
}
.active {
  color: #F2F2F3
}
.inactive {
  color: #8585ad
}